[user]
    name = Keith Grant
    email = keith@elucidblue.com

[push]
    default = tracking

[core]
    excludesfile = ~/.gitignore

[color]
    branch = auto
    diff = auto
    status = auto
#    ui = true
    background = dark

[color "branch"]
    current = blue reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = magenta
    changed = green
    untracked = cyan

[alias]
    #log-pretty = log --graph --pretty=oneline --decorate --date=relative
    log-pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    ff = pull --ff-only
    is-merged = !bash -c 'git merge-base HEAD origin/"$0" && git rev-parse origin/"$0"'
    #is-merged = !git merge-base HEAD origin/$1 && git rev-parse origin/$1
    topic = !bash -c 'git checkout -b "$0" && git push -u origin "$0" && git pull'
    info = remote show origin
    nuke = !bash -c 'git branch -d "$0" && git push origin :"$0"'

[core]
    editor = vim

[diff]
    tool = vimdiff
    #tool = meld
    #tool = mvim -d
