[user]
    name = Keith Grant
    email = barkeep@keithjgrant.com

[push]
    default = tracking

[core]
	excludesfile = /Users/kgrant/.gitignore

[color]
    branch = auto
    diff = auto
    status = auto
#    ui = true
    background = dark

[color "branch"]
    current = blue reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = magenta
    changed = green
    untracked = cyan

[alias]
    log-pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    ff = pull --ff-only
    is-merged = !bash -c 'git merge-base HEAD origin/"$0" && git rev-parse origin/"$0"'
    topic = !bash -c 'git checkout -b "$0" && git push -u origin "$0" && git pull'
    info = remote show origin
    nuke = !bash -c 'git branch -d "$0" && git push origin :"$0"'

[core]
    editor = vim

[diff]
    tool = vimdiff
    #tool = meld
    #tool = mvim -d
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "https://github"]
	insteadOf = git://github
[url "ssh://git@gitorious.intcx.net"]
  insteadOf = git://gitorious.intcx.net
[url "ssh://git@stash.intcx.net:7999"]
  insteadOf = git://stash.intcx.net
[credential]
	helper = osxkeychain
